$maincolor1: #5068A5;
$maincolor2: #FF00AA;
$maincolor3: #E5E5E5;
$maincolor4: #F8F8F8;

$textcolor1: #000000;
$textcolor2: #666666;
$textcolor3: #333333;

$gradient1: linear-gradient(88.34deg, #DD50DA 0%, #FF94FD 100%);
$gradient2: linear-gradient(88.34deg, #EB5757 0%, #FF8D8D 100%);
$gradient3: linear-gradient(88.34deg, #6065A7 0%, #8B91DD 100%);
